.login-body {
  background-color: black;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-body {
  min-height: 100vh;
}

.auth-card {
}

.login--main {
  width: 80vw;
  min-width: 400px;
}

.card--main {
  color: white;
  padding-top: 10%;
}

.card--header {
}

.card--body {
}

.card--footer {
}

.field {
  padding: 10px 0;
}

.field--input {
  border-color: #3498db;
  border-radius: 24px;
  text-align: center;
  height: 48px;
  width: 250px;
  background-color: black;
  color: white;
  transition: 0.25s;
}

.special-login {
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login--image--main {
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.field--input:focus {
  outline: 0px;
  border-radius: 24px;
  border-color: #2ecc71;
  width: 300px;
}

.login-image {
  padding-top: 30px;
}

.login-image img {
  /* padding: 5% 0 0 0; */
  width: 100%;
  max-width: 50vw;
  min-width: 350px;
  /* border: 2px solid red; */
}

.card--forgot {
  padding: 10px 0;
}

.submit {
  outline: 0px;
  height: 48px;
  width: 130px;
  border-color: #2ecc71;
  border-radius: 24px;
  text-align: center;
  background-color: white;
  transition: 0.25s;
  cursor: pointer;
  background: none;
  display: block;
  margin: 20px auto;
  color: white;
}

.submit:hover {
  transition: 0.25s;
  outline: 0px;
  background-color: #2ecc71;
  color: white;
}

.landingplace--body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

.category--collection {
  transform: translateY(100px);
}

/* 
https://bbbootstrap.com/snippets/animated-login-form-95290954
https://bbbootstrap.com/snippets/login-form-information-text-67856111
https://storyset.com/illustration/no-data/rafiki
*/
