.dashboard{
  background-color: black;
  color: white;
  min-height: 99vh;
}

.header{
  z-index: 10;
}

.front{
  padding-top: 60px;
}

.sidebar{
  margin-top: 60px;
  background-color: #343a40;
  min-height: 93vh; 
  width: 15%;   
  z-index: 9;
}

.category{
  padding-left: 12%;
  padding-top: 18px;
  font-size: 17px;
}

.addCategory{
  padding-left: 12%;
  padding-top: 18px;
  font-size: 17px;
}

.channels{  
  padding-left: 16%;
  padding-top: 69px;  
}

.addChannel{
  display: inline-block;
  transform: translateY(20%) scale(1.3);
  text-align: center;
  vertical-align:middle;
}

.channel{
  display: inline-block;
  transform: scale(0.75);
}

.sidebarHr{
  border-top: 0.01px solid rgb(110, 110, 110);
  margin-top: 1px;
}

.channelHr{
  border-top: 0.01px solid rgb(110, 110, 110);
}

.feed{
  padding-top: 80px;
}

.feed--part{
  padding-left: 35px;    
  padding-right: 35px;    
  padding-top: 20px;
}

.feed--video--card{
  margin-bottom: 30px;
  background-color: black;
}

.feed--video--channel--image{
  max-width: 100%;
}

.feed--video--body{
  padding-left: 4%;
}

.feed--video--title{
  margin-bottom: 4px;
  line-height: 22px;    
}

.feed--video--channel--link{
  margin-bottom: 1px;
  color:#aaaaaa;
  line-height: 17px;
  font-size: 14px;
}
